# Makefile configuration values for the habitat project
# Nigel Stuckey, August 2002 & August 2005
#
# Copyright System Garden Ltd 1996-2005, All rights reserved

# This file contains platform specific configurations
# (it can be thought of as a simple replacement for GNU autoconf)
# The systems supported are detected automatically in this file, which
# contains a fragment of GNU Make. Once detected, the platform settings
# are made for things like the locations of Gtk+, curl, etc.
# If the settings that I use do not correspond with yours, use the 
# EXTRA_ variables below to add more locations for your system.

# The external packages needed are: Gtk+, glib, gdk, Curl, readline, GDBM
# 
# EXTRA_INCLUDE - Includes should be in the form of switches, of the form 
#                 -I <dir>
# EXTRA_LIB - The library definitions should be of the form -l<lib>
# EXTRA_LIBDIR - Library locations should just be dirs, which are appended
#                to GNU Make's VPATH. The dirs in this path are then 
#                searched to find the libraries in EXTRA_LIB.
EXTRA_INCLUDE =
EXTRA_LIB =
EXTRA_LIBDIR =

# CC binary name, in case the default is not enough
CC = gcc
#CC = env LSBCC_SHAREDLIBS=iiab:probe:trm lsbcc

ifndef ARCH
	ARCH := $(shell uname -s)
	export ARCH
endif

# Architecture specific setups
# Note that SYS_LIB and SYS_LIBDIR are libraries and locations for system
# libraries in additon to libc and /usr/lib
ifeq ($(ARCH),SunOS)
	# .LIBPATTERNS search is reversed: look for .a first
	.LIBPATTERNS = lib%.a lib%.so
	RPATHSUB = -R %
	CFLAGS  += -fPIC
	LDFLAGS += -R ../lib -R ../iiab -R ../trm -R ../probe \
		-R /usr/openwin/lib -R /usr/local/lib \
		-static-libgcc -mimpure-text
	SYS_INCLUDE = -I /usr/local/lib/glib/include \
		-I /usr/local/include/gtk-1.2 -I /usr/local/include/glib-1.2
	SYS_LIB = -lsocket -lnsl -lxnet -lposix4 -ldl -lkstat -lgcc
	SYS_LIBDIR = /usr/ccs/lib /usr/local/ssl/lib /usr/openwin/lib
else
ifeq ($(ARCH),Linux)
	RPATHSUB = -Wl,-rpath,%
	LDFLAGS += -Wl,-rpath,.. -Wl,-rpath,../iiab -Wl,-rpath,../trm \
		-Wl,-rpath,../probe -Wl,-rpath,../lib \
		-Wl,-rpath,$(LINDSTLIB)
	SYS_INCLUDE = -I /usr/include/gtk-1.2 -I /usr/include/glib-1.2 \
		-I /usr/lib/glib/include -I /usr/X11R6/include
	SYS_LIBDIR = /usr/X11R6/lib
else
ifeq ($(ARCH),Darwin)
else
ifeq ($(ARCH),CYGWIN_NT-5.1)
	SYS_INCLUDE = -I /usr/include/gtk-1.2 -I /usr/include/glib-1.2
else
endif # CYGWIN_NT-5.1
endif # Darwin
endif # Linux
endif # SunOS
