#
# System Garden Habitat
# Standard look and feel
#
# Copyright System Garden Limited 1999-2001. All rights reserved.
# Nigel Stuckey, revised May 2000
#

style "text"
{
	bg[NORMAL] = "#ffffff"
	fg[NORMAL] = "#003366"
}

style "splash"
{
	font = "-*-helvetica-bold-r-normal-*-34-240-*-*-*-*-*-*"
#	font = "-*-helvetica-bold-r-normal-*-*-480-*-*-*-*-*-*"
	fg[NORMAL] = "#006699"
}

style "about"
{
	font = "-*-helvetica-bold-r-normal-*-34-240-*-*-*-*-*-*"
	bg[NORMAL] = "#ffffff"
	fg[NORMAL] = "#006699"
}

style "editable"
{
	fg[NORMAL] = "#ff0000"
}

style "dynamic"
{
	fg[NORMAL] = "#0000ff"
}

style "menutitle"
{
	font = "-*-helvetica-bold-r-normal-*-*-120-*-*-*-*-*-*"
	fg[NORMAL] = "#000000"
	fg[PRELIGHT] = "#000000"
	fg[ACTIVE] = "#000000"
	fg[SELECTED] = "#000000"
}

style "graph"
{
	font = "-*-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
	bg[NORMAL] = "#ffffff"
	bg[PRELIGHT] = "#ffffff"
	bg[ACTIVE] = "#ffffff"
	bg[SELECTED] = "#ffffff"
	fg[NORMAL] = "#003366"
	fg[PRELIGHT] = "#003366"
	fg[ACTIVE] = "#003366"
	fg[SELECTED] = "#003366"
}

style "pickstyle"
{
#	font = "-adobe-helvetica-bold-r-normal-*-34-240-*-*-p-*-iso8859-1"
	bg[SELECTED] = "#ccb5cc"
#	base[SELECTED] = "#ccb5cc"
}

widget "baseWindow.*splash_view" style "text"
widget "baseWindow.*splashprod" style "splash"
widget "baseWindow.*graphframe" style "graph"
widget "baseWindow.*gmcgraph*" style "graph"
widget "baseWindow.*ednode" style "editable"
widget "baseWindow.*dynode" style "dynamic"
widget "about_dialog" style "about"
widget "*choice_popup_label*" style "menutitle"


